:root{
    --bg-main: #0f172a;
    --bg-soft: #111827;
    --card: #1e293b;
    --sidebar: #020617;

    --primary: #3b82f6;
    --success: #22c55e;
    --warning: #f59e0b;
    --danger: #ef4444;

    --text: #ffffff;
    --text-soft: #94a3b8;
}

/* BASE */
body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: var(--bg-main);
    color: var(--text);
}

/* LAYOUT */
.layout{
    display:flex;
}

/* SIDEBAR */
.sidebar{
    width:220px;
    height:100vh;
    background:var(--sidebar);
    padding:20px;
    position:fixed;
}

.sidebar h2{
    color:white;
    margin-bottom:20px;
}

.sidebar a{
    display:block;
    color:var(--text-soft);
    margin:10px 0;
    text-decoration:none;
}

.sidebar a:hover{
    color:white;
}

/* MAIN */
.main{
    margin-left:220px;
    padding:20px;
    width:100%;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:15px;
}

/* CARDS */
.card{
    background:var(--card);
    padding:20px;
    border-radius:12px;
    margin-bottom:15px;
    box-shadow:0 4px 20px rgba(0,0,0,0.3);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-3px);
}

/* COLORES DE CARDS */
.card.green{ border-left:5px solid var(--success); }
.card.blue{ border-left:5px solid var(--primary); }
.card.orange{ border-left:5px solid var(--warning); }
.card.red{ border-left:5px solid var(--danger); }

/* METRICAS */
.label{
    font-size:13px;
    color:var(--text-soft);
}

.metric{
    font-size:22px;
    font-weight:bold;
}

/* INPUTS */
input, select{
    width:100%;
    padding:10px;
    margin:5px 0;
    border-radius:8px;
    border:none;
    outline:none;
}

/* BOTONES */
button{
    background:var(--primary);
    color:white;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
    width:100%;
    transition:0.2s;
}

button:hover{
    background:#2563eb;
}

/* TABLAS */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
    background:var(--bg-soft);
    border-radius:10px;
    overflow:hidden;
}

th{
    background:#020617;
    color:var(--text-soft);
    font-size:13px;
    padding:10px;
}

td{
    padding:12px;
}

tr:hover{
    background:#1e293b;
}

/* TEXTOS */
h2{
    margin-bottom:20px;
}

h3{ color:#60a5fa; }
h4{ color:#cbd5f5; }

/* BADGES */
.activo{background:#22c55e;}
.vencido{background:#ef4444;}
.pagado{background:#3b82f6;}

/* RESPONSIVE */
@media (max-width:768px){

    .sidebar{
        position:relative;
        width:100%;
        height:auto;
    }

    .main{
        margin-left:0;
    }

    .grid{
        grid-template-columns:1fr;
    }
}