<!DOCTYPE html>
<html>
<head>
    <title>Historial</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>📄 Historial del Cliente</h2>

{% for p in data %}
<div class="card">

    <h3>Préstamo #{{ p.prestamo_id }}</h3>

    <p><strong>Fecha:</strong> {{ p.fecha }}</p>
    <p><strong>Total:</strong> {{ p.total }}</p>
    <p><strong>Abonado:</strong> {{ p.abonado }}</p>
    <p><strong>Saldo:</strong> {{ p.saldo }}</p>

    <p>
        <strong>Estado:</strong> 
        <span class="
            {% if p.estado == 'PAGADO' %}verde
            {% elif p.estado == 'VENCIDO' %}rojo
            {% else %}azul
            {% endif %}
        ">
            {{ p.estado }}
        </span>
    </p>

    <h4>Abonos:</h4>

    {% if p.abonos %}
    <table>
        <tr>
            <th>Monto</th>
            <th>Tipo</th>
            <th>Fecha</th>
        </tr>

        {% for a in p.abonos %}
        <tr>
            <td>{{ a.monto }}</td>
            <td>{{ a.tipo }}</td>
            <td>{{ a.fecha }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No hay abonos</p>
    {% endif %}

</div>
{% endfor %}

<br>
<a href="/clientes">⬅ Volver</a>

</body>
</html>