<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<h2>Historial de {{ cliente[1] }}</h2>

{% for p in data %}
<div class="card">

<h3>Préstamo #{{ p.prestamo }}</h3>

<p>Total: {{ p.total }}</p>
<p>Capital: <span class="verde">{{ p.capital }}</span></p>
<p>Interés: <span class="azul">{{ p.interes }}</span></p>
<p>Saldo: <span class="rojo">{{ p.saldo }}</span></p>

<hr>

<table>
<tr>
<th>Monto</th>
<th>Tipo</th>
<th>Fecha</th>
</tr>

{% for a in p.abonos %}
<tr>
<td>{{ a[0] }}</td>
<td>
{% if a[1] == "capital" %}
<span class="verde">Capital</span>
{% else %}
<span class="azul">Interés</span>
{% endif %}
</td>
<td>{{ a[2] }}</td>
</tr>
{% endfor %}
</table>

</div>
{% endfor %}

<a class="btn" href="/clientes">Volver</a>

</div>

</body>
</html>