<!DOCTYPE html>
<html>
<head>
    <title>Préstamos</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<h2>💸 Préstamos</h2>

<div class="card">
<form method="POST">
    <select name="cliente">
        {% for c in clientes %}
        <option value="{{ c[0] }}">{{ c[1] }}</option>
        {% endfor %}
    </select>

    <input name="capital" placeholder="Capital">
    <input name="interes" placeholder="Interés">
    <input name="dias" placeholder="Días">

    <button>Guardar</button>
</form>
</div>

<div class="card">
<table>
    <tr>
        <th>ID</th>
        <th>Total</th>
    </tr>

    {% for p in prestamos %}
    <tr>
        <td>{{ p[0] }}</td>
        <td>{{ p[7] }}</td>
    </tr>
    {% endfor %}
</table>
</div>

<a class="btn" href="/">⬅ Volver</a>

</div>

</body>
</html>